{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-warning">
                <h4 class="mb-0">Forgot Username / Password</h4>
            </div>
            <div class="card-body">
                <p class="text-muted">Enter your registered email. We will send your username and password reset link.
                </p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Send Recovery Email</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}